{% extends 'base.html.twig' %}

{% block title %}Edit Auteur{% endblock %}

{% block body %}
    <h1>Edit Auteur</h1>

    {{ include('auteur/_form.html.twig', {'button_label': 'Update'}) }}<br>

    <a href="{{ path('auteur_index') }}"><span class="btn btn-primary"><i class="fa fa-backward">back to list</i></span> </a>

{% endblock %}
