{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Edit Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Save'}) }}

    <a href="{{ path('categorie_index') }}"><span class="btn btn-primary"><i class="fa fa-backward">back to list</i></span></a>

{% endblock %}
